extends layout

block content
    h2 Classe de Nível #{classe.nivel}
    ul
        li Codigo: #{classe.codigo}
        li Titulo: #{classe.titulo}
        li Descricao: #{classe.descricao}
        li Status: #{classe.status}
        li Id: #{classe.id}

    h3 Filhos:
    table.w3-table.w3-striped.w3-border
        - var i = 0;
        each c in classe.filhos
            if i == 0
                - i = 1;
                tr
                    th ID
                    th Status
                    th Codigo
                    th Titulo
            tr
                td #{c.id}
                td #{c.status}
                td
                    a(href='/classes/'+c.codigo) #{c.codigo}
                td #{c.titulo}
        else
            p Não há processos filhos

    if(classe.nivel=="3")
        h3 Termos de Indices
        ul 
            each f in classe.termosInd
                li 
                    a(href="/indices") #{f.termo}


    p
    a(href='/' + "classes")
            span Voltar as classes
    | - 
    a(href=('/'))
        span Voltar home